.WeatherForecast {
    text-align: center;
}

.WeatherForecast-temp-min {
    opacity: 0.4;
    margin-left: 5px;
}

.WeatherForecast-day{ 
  color: var(--secondary-color);
  font-weight: 600;}

  .WeatherForecast .forecast-card {
  border-radius: 22px;
  box-shadow:var(--primary-color);
  padding: 10px 0;
  margin: 0 14px;
}